label {
    font-weight: bold;
}

/* Contenedor responsivo para la tabla */
.table-responsive {
    overflow-x: auto;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #333;
}

table thead {
    background-color: #f4f4f4;
}


table th,
table td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

/* Efecto hover en las filas */
table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Columna de Acciones */
table td:last-child {
    /* Se define un ancho fijo o mínimo para la columna de acciones */
    min-width: 120px;
    /* Alineación de botones centrados y espaciados */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Ajustes para los botones dentro de la columna de acciones */
table td:last-child button {
    margin: 0;
}

/* --- Estilos para el Modo Dark --- */
body.dark-mode table {
    background-color: #444;
    color: #eee;
}

body.dark-mode table thead {
    background-color: #555;
}

body.dark-mode table th,
body.dark-mode table td {
    border-color: #666;
}

body.dark-mode table tbody tr:hover {
    background-color: #666;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

/* Estilos básicos para botones de acción */

.form-group {
    display: flex;
    flex-direction: column;
}


.btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Icono en los botones de acción */
.icon-btn {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
    /* Convierte SVG negro en blanco */
}


/* Diseño responsivo */
@media (min-width: 600px) {
    .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-group label {
        flex: 1;
    }

    .form-group input {
        flex: 2;
    }
    .form-group select {
        flex: 2;
    }
}